<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NiftyTracker</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/untitled.css">
</head>

<body>
    <h1 style="padding: 20px;font-weight: bold;">NiftyTracker</h1>
    <div class="container" style="margin-bottom: 0px;">
        <div class="row" style="margin-right: 0px;margin-left: -12px;margin-bottom: 16px;">
            <div class="col" style="padding-right: 12px;padding-left: 10px;">
                <form class="search" method="get" action="/data" >
                  <div style="box-shadow: 4px 4px 0px 0px;border-radius: 0px;border: 3px solid rgb(0,0,0);">
                      <input type="text" name="address" placeholder="Enter Ethereum Address" style="padding: 0px;color: rgb(102,102,102);text-align: left;font-weight: bold;margin-bottom: 0px;padding-right: 0px;margin-right: 0px;padding-left: 4px; min-width: 100%;" />
                  </div>
                </form>
            </div>
        </div>
        {% if results.success == 'False' %}
        <div class="row">
            <div class="col">
                <p style="padding: 0px;color: var(--bs-red);font-size: 22px;text-align: left;font-weight: bold;margin-bottom: 0px;">Invalid Ethereum Address<br></p>
            </div>
        </div>
        {% endif %}
        {% if results.count > 0 %}
          <div>
              <p style="padding: 0px;color: rgb(0,0,0);text-align: left;font-weight: bold;margin-bottom: 10px;padding-right: 0px;margin-right: 0px;padding-left: 4px;">{{ results.address }}</p>
          </div>
          {% for key,value in results.data.iterrows() %}
          <div class="row">
              <div class="col" style="max-width: 125px;">
                  <div class="d-flex justify-content-center" style="box-shadow: 4px 3px 0px 0px;border-radius: 0px;margin-bottom: 38px;max-width: 100px;max-height: 100px;border: 3px solid rgb(0,0,0);"><img src="static/img/istockphoto-1278906674-170667a.jpg" style="padding: 0px;max-height: 100px;max-width: 90px;"></div>
              </div>
              <div class="col">
                  <p style="padding: 0px;color: rgb(86,86,86);font-size: 18px;text-align: left;font-weight: bold;margin-bottom: 0px;margin-top: 24px;">{{ value['transaction_date'] }}<br></p>
                  <p style="padding: 0px;color: rgb(0,0,0);font-size: 22px;text-align: left;font-weight: bold;margin-bottom: 0px;">{{ value['type'] }}<br></p>
              </div>
          </div>
          {% endfor %}
        {% endif %}
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
